{% extends "base.html" %}


{% block content %}

<!-- Banner -->

<section id="banner">
    <div class="content">
        <header>
            <h1>Add a Song</h1>
        </header>
    </div>
</section>
<section>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
        {{form.song_url.label}}
        {{form.song_url()}}
        </p>
        <p>
        {{form.song_name.label}}
        {{form.song_name()}}
        </p>
        <p>            
        {{form.song_artist.label}}
        {{form.song_artist()}}
        </p>
        <p>
        {{form.song_album.label}}
        {{form.song_album()}}
        </p>
        <p>
        {{form.song_album_art.label}}
        {{form.song_album_art()}}
        </p>
        {{form.submit(id="just_load_please")}}
    </form>
</section>

<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="loader"></div>
          <div clas="loader-txt">
            <p>Please wait while we get that song!</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
      $(document).ready(function() {
        $("#just_load_please").on("click", function(e) {
            e.preventDefault();
            $("#loadMe").modal({
                backdrop: "static", //remove ability to close modal with click
                keyboard: false, //remove option to close with keyboard
                show: true //Display loader!
            });
        });
      });
  </script>

{% endblock %}