{% extends "base.html" %}

{% block content %}


<!-- Banner -->

<section id="banner">
    <div class="content">
        <header>
            <h1>Flask Music</h1>
            <p>A music playing platform <br>built using Python Flask and MySQL</p>
        </header>
        <ul class="actions">
            <li><a href="https://www.github.com/ethanshealey/FlaskMusic" class="button big">Learn More</a></li>
        </ul>
    </div>
    
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Recently Added Songs</h2>
    </header>
    <div class="row">
    <div class="col-4 col-12-medium">
        {% include 'music_player.html' %}
    </div>
    <div class="col-4 col-12-medium"></div>
    </div>
</section>

</div>
</div>


{% endblock %}